{% extends '_base.html' %}

{% block title %}Все поступления{% endblock title %}

{% block content %} 
    
    <div class="container">
        <div class="my-1">
            <div class="form-row d-flex p-2 align-items-center">
                <div class="col"><h5>Категории:</h5></div>
                <div class="col">
                    <a class="btn btn-primary float-right" href="{% url 'categories-add' %}?next={{request.path}}" role="button">Добавить</a>
                </div>
            </div>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                  <th scope="col">Название</th>
                  <th scope="col">Тип</th>
                  <th scope="col"></th>
                </tr>
            </thead>
            {% for category in categories %}
                <tr>
                    <td>{{ category.title }}</td>
                    <td>{{ category.type }}</td>
                    <td><a class="text-danger" href="{% url 'categories-update' category.id %}">Редактировать</a></td>
                </tr>
            {% endfor %} 
        </table>   
    </div>
    
{% endblock content %}