{% extends '_base.html' %}

{% load static %}

{% block title %}Учет финансов{% endblock title %}

{% block content %}
<!-- <h1>Учет финансов</h1> -->

<script src="{% static 'js/draw_graph.js' %}"></script>
<script src="{% static 'js/draw_pie.js' %}"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/variable-pie.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<div class="container">
    <div class="row">
        <div class="col">
            <figure class="highcharts-figure">
                <div id="overall_balance"></div>
            </figure>
        </div>
    </div>
    <div class="row" style="height: 70px;">
        <div class="col">
            <a class="btn btn-primary float-right" href="{% url 'operations-add' %}?next={% firstof request.path '/' %}&addIncome" role="button">
                Добавить доход
            </a>
        </div>
        <div class="col">
            <a class="btn btn-danger float-left" href="{% url 'operations-add' %}?next={% firstof request.path '/' %}" role="button">
                Добавить расход
            </a>
        </div>
        
    </div>
    <div class="row">
        {% if showExpenses2PrevMonth %}
        <div class="col-md">
            <figure class="highcharts-figure">
                <div id="expenses2PrevMonth"></div>
            </figure>
        </div>
        {% endif %}
        {% if showExpensesPrevMonth %}
        <div class="col-md">
            <figure class="highcharts-figure">
                <div id="expensesPrevMonth"></div>
            </figure>
        </div>
        {% endif %}
        <div class="col-md">
            <figure class="highcharts-figure"></figure>
                <div id="expensesOfCurrentMonth"></div>
            </figure>
        </div>
        
    </div>
    <div class="row">
        {% for wallet in wallets %}
            <div class="col-lg-6">
                <figure class="highcharts-figure">
                    <div id="wallet_container{{ wallet.id }}"></div>
                </figure>
            </div>
        {% endfor %}
    </div>
</div>

<script>
    
    startDate = Date.parse("{{ start_date }}")
    var income_list = {{ income_list| safe }};
    var expense_list = {{ expense_list| safe }};
    var balance_list = {{ balance_list| safe }};
    var expensesPrevMonth = {{ expensesPrevMonth| safe }};
    var expenses2PrevMonth = {{ expenses2PrevMonth| safe }};
    var expensesOfCurrentMonth = {{ expensesOfCurrentMonth| safe }};
    var namePrevMonth = {{ namePrevMonth| safe }};
    var name2PrevMonth = {{ name2PrevMonth| safe }};

    income_list = income_list.map(Number);
    expense_list = expense_list.map(Number);
    balance_list = balance_list.map(Number);

    // Рисуем основной график
    drawMainGraph(startDate, income_list, expense_list, balance_list);

    // Рисуем расходы по категориям и месяцам
    if (expenses2PrevMonth.length > 0) {
        drawMainPie("expenses2PrevMonth", expenses2PrevMonth, "Расходы за " + name2PrevMonth);
    }
    if (expensesPrevMonth.length > 0) {
        drawMainPie("expensesPrevMonth", expensesPrevMonth, namePrevMonth);
    }
    drawMainPie("expensesOfCurrentMonth", expensesOfCurrentMonth, "Текущий месяц");

    // Рисуем графики по каждому кошельку
    var list_wallets = {{ list_wallets| safe }};
    startDate = Date.parse("{{ start_date }}");
    drawGraphWallet(list_wallets, startDate);
</script>

{% endblock content %}

{% block footer %}

{% endblock footer %}